header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: blue;
    height: 60px;
    width: 100%;
}

.logo_nav {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.logo {
    font-size: 30px;
    cursor: pointer;
    margin: 20px 30px;
    color: white;
    background: none;
}

nav {
    background: none;
    margin: 30px;
}

.nav_item {
    background: none;
    color: white;
    padding: 20px;
    border: solid 2px white;
    font-size: 20px;
}

.nav_item:hover {
    font-weight: bold;
}

.nav_item:first-child {
    border: solid 2px white;
}

.nav_item:last-child {
    border-top-right-radius: 10px;
}

.search_bar input {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}

.search_bar button {
    font-size: 20px;
    border: solid 2px white;
    border-radius: 3px;
    padding: 3px;
    background: none;
    color: white;

}

.basket {
    font-size: 30px;
    background: none;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}