<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bucketstyle.css}"/>
</head>
<body>
<header>

    <div class="logo_nav">
        <div class="logo">Clothes👘</div>

    </div>
    <nav>
        <a href="/products" class="nav_item">Products</a>
        <a sec:authorize="isAuthenticated()" href="/orders/order-history" class="nav_item">My Orders</a>
        <a sec:authorize="isAuthenticated()" href="/users/profile" class="nav_item">Profile</a>
    </nav>

    <a th:href="@{/bucket}" class="basket">
        🛒
    </a>

    <div sec:authorize="!isAuthenticated()" style="color: white; padding: 0 20px ">
        <div>
            Hello, Unknown. Please <a style="color: white" th:href="@{/login}">Login</a>
            or <a style="color: white" th:href="@{/users/new}">Register</a>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()" style="color: white; padding: 0 20px">
        <div sec:authorize="hasAnyAuthority('ADMIN')">
            Hello, <a style="color: white" th:href="@{/users}"><span sec:authentication="principal.username">Bill</span></a>
        </div>
        <div sec:authorize="hasAuthority('CLIENT')">
            Hello, <span sec:authentication="principal.username">Bill</span>
        </div>
        <div>
            <a style="color: white" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</header>

<table align="center" class="bucket">
    <thead>
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Sum</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail : ${bucket.bucketDetails}" class="product">
        <td><img th:src="@{${detail.pictureCode}}" alt="product"></td>
        <td th:text="${detail.title}">Yellow cap</td>
        <td th:text="${detail.amount}">1</td>
        <td th:text="${detail.price  + ' ' + '$'}">1.0</td>
        <td th:text="${detail.sum  + ' ' + '$'}">1</td>
        <td><a class="remove_button" th:href="@{/bucket/delete(id=${detail.id})}">❌</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" align="start" style="padding: 0 0 0 100px;">
            All sum :
        </td>
        <td align="start" style="padding:0 80px" colspan="2">
            <b th:text="${bucket.sum + ' ' + '$'}">1000</b>
        </td>
    </tr>
    </tfoot>
</table>

<form th:action="@{/bucket}" method="post" th:if="${!bucket.bucketDetails.isEmpty()}">
    <button type="submit" name="clear">Clear Bucket</button>
    <button type="submit" name="submit">Create Order</button>
</form>
</body>
</html>
