<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8"/>
    <title>Edit product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editproductstyle.css}"/>
</head>
<body>
<header>

    <div class="logo_nav">
        <div class="logo">Clothes👘</div>

    </div>
    <nav>
        <a href="/products" class="nav_item">Products</a>
        <a sec:authorize="isAuthenticated()" href="/orders/order-history" class="nav_item">My Orders</a>
        <a sec:authorize="isAuthenticated()" href="/users/profile" class="nav_item">Profile</a>
    </nav>

    <a th:href="@{/bucket}" class="basket">
        🛒
    </a>

    <div sec:authorize="!isAuthenticated()" style="color: white; padding: 0 20px ">
        <div>
            Hello, Unknown. Please <a style="color: white" th:href="@{/login}">Login</a>
            or <a style="color: white" th:href="@{/users/new}">Register</a>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()" style="color: white; padding: 0 20px">
        <div sec:authorize="hasAnyAuthority('ADMIN')">
            Hello, <a style="color: white" th:href="@{/users}"><span sec:authentication="principal.username">Bill</span></a>
        </div>
        <div sec:authorize="hasAuthority('CLIENT')">
            Hello, <span sec:authentication="principal.username">Bill</span>
        </div>
        <div>
            <a style="color: white" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</header>

<div class="container">
    <div class="product_form">
        <form th:object="${product}" method="post">
            <input type="text" th:field="*{title}" required="true" placeholder="Title" autofocus/>
            <input
                    type="text"
                    th:field="*{description}"
                    required="true"
                    placeholder="Description"
            />
            <input
                    type="text"
                    th:field="*{pictureCode}"
                    required="true"
                    placeholder="IMG URL"
            />
            <input type="text" th:field="*{price}" required="true" placeholder="Price"/>

            <select th:field="*{category.id}">
                <option
                        th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:text="${cat.title}"
                ></option>
            </select>

            <select th:field="*{brand.id}">
                <option
                        th:each="br : ${brands}"
                        th:value="${br.id}"
                        th:text="${br.title}"
                ></option>
            </select>

            <input
                    th:if="${method} == 'edit-product'"
                    type="submit"
                    name="submit"
                    th:action="@{/products/{id}/edit-product}"
                    th:value="Update"
            />
            <input
                    th:if="${method} == 'add-product'"
                    type="submit"
                    name="submit"
                    th:action="@{/products/add}"
                    th:value="Add"
            />
            <input
                    th:if="${method} == 'edit-product'"
                    type="submit"
                    name="cancellation"
                    th:action="@{/products/{id}/edit-product}"
                    th:value="Cancel"
            />
            <input
                    th:if="${method} == 'add-product'"
                    type="submit"
                    name="cancellation"
                    th:action="@{/products/add}"
                    th:value="Cancel"
            />
        </form>

        <div th:if="${method} == 'edit-product'">
            <img th:src="@{${product.pictureCode}}" src="https://picsum.photos/200/300" alt="Your image"/>
        </div>
    </div>
</div>
</body>
</html>
